section {
  padding: 3em 5em;
  display: flex;
  flex-direction: column;
}

section#wellcome {
  height: 90vh;
  gap: 1em;
  font-size: xx-large;
}

section#wellcome h1 {
  font-size: 2em;
}
section#wellcome p {
  line-height: 1.5em;
}

section#wellcome span {
  color: var(--color_secundary);
  font-weight: var(--font_heading);
}
section#wellcome button {
  background-color: var(--color_secundary);
  padding: 1.5em 5em;
  outline: none;
  cursor: pointer;
  margin-top: 3em;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  border: none;
}
section#wellcome button a {
  color: var(--color_white);
  font-weight: bolder;
  font-size: x-large;
}
section#wellcome button:hover {
  box-shadow: 1px 1px 8px var(--color_secundary);
}

section#about {
  background-color: var(--color_primary);
  height: 40em;
}
section#projects {
  background-color: var(--color_secundary);
}
section#contacts {
  height: 75vh;
  /* background-color: var(--color_gray_400); */
}

.waves-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waves-1 svg {
  position: relative;
  display: block;
  width: calc(166% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.waves-1 .shape-fill {
  fill: var(--color_primary);
}
