@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:wght@400;700&display=swap");

:root {
  --font_family: "Roboto", Arial, sans-serif;
  --font_heading: 700;
  --font_body: 400;

  --shadow: 2px 3px 15px rgba(0, 0, 0, 0.575);
  --shadow_low: 0 4px 30px rgba(0, 0, 0, 0.1);

  --color_primary: #996dff;
  --color_secundary: #fba94c;
  --color_gray_700: #121214;
  --color_gray_600: #202024;
  --color_gray_500: #29292e;
  --color_gray_400: #323238;
  --color_gray_300: #7c7c8a;
  --color_gray_200: #c4c4cc;
  --color_gray_100: #e1e1e6;
  --color_white: #fff;
  --color_white_shadow: rgba(255, 255, 255, 0.25);

  --font_size_sm: 14px;
  --font_size_md: 16px;
  --font_size_lg: 18px;
  --font_size_xl: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: var(--color_gray_500);
  font-family: var(--font_family);
  font-weight: var(--font_body);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color_white);
  margin-bottom: 0.8em;
}

p {
  color: var(--color_gray_100);
  line-height: 1.6em;
  text-align: justify;
  margin-bottom: 1em;
}
span {
  color: var(--color_secundary);
  font-weight: var(--font_heading);
}

a {
  text-decoration: none;
  font-weight: var(--font_heading);
  color: var(--color_white);
}
a:hover {
  color: var(--color_gray_500);
}

footer {
  background-color: var(--color_white_shadow);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 5em;
}
footer h1,
footer h2 {
  color: var(--color_secundary);
}
footer .top {
  display: flex;
}
footer .top .bye-bye {
  margin-right: 2.5em;
}
footer .top .fast-links {
  width: 20em;
  padding-left: 1em;
}

footer .top .fast-links li {
  list-style: none;
}

footer .bottom {
  /* background-color: #04d361; */
}
footer .bottom li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: var(--color_white);
  margin-bottom: 0.8em;
}

footer .bottom li img {
  width: 20px;
  height: 20px;
}
footer .bottom .social {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1.5em;
}

footer #toTop {
  background-color: var(--color_white);
  height: 50px;
  width: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color_white);
  box-shadow: var(--shadow_low);
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
footer #toTop:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}
.VStake {
  flex-direction: column;
}
.HStake {
  flex-direction: row;
}
.waves-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.waves-1 svg {
  position: relative;
  display: block;
  width: calc(166% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}
.waves-1 .shape-fill {
  fill: var(--color_primary);
}
.tilt-1 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.tilt-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}
.tilt-1 .shape-fill {
  fill: #fba94c;
}

.btn_primary {
  background-color: var(--color_secundary);
  color: var(--color_white);
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: var(--font_heading);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.btn_primary:hover {
  box-shadow: 1px 1px 8px var(--color_secundary);
}

.top-show-project-info{
  background-color: var(--color_secundary);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3em 1em;
}
.show-project-info{
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--color_primary);
  width: 100%;
  position: fixed;
  bottom: 0;
  display: none;
  flex-direction: column;
  padding: 2.8em 1em;
  gap: 1em;
  border-top: 2px solid black;
  height: 25%;
}
.on{
  display: flex;
}
 .tags,.btn{ 
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
 }
 .link-project{
  background-color: var(--color_primary);
  padding: .3em;
  border-color: var(--color_primary);
}
.tag{
  background-color: var(--color_secundary);
  font-weight: bold;
  color: var(--color_gray_500);
  padding: .2rem;
  border-radius: 8px;
}
.close{
  padding: .3em; color: var(--color_white); background-color: var(--color_primary); border:none; cursor: pointer;
}